In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv('../data/base.csv', delimiter=",")
data.head()
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   fecha                          640 non-null    str
 1   referencia                     640 non-null    str
 2   alcalinidad_total              93 non-null     str
 3   aluminio                       233 non-null    str
 4   bario                          12 non-null     str
 5   bicarbonatos                   71 non-null     str
 6   cadmio                         404 non-null    str
 7   calcio                         13 non-null     str
 8   carbonatos                     71 non-null     str
 9   cianuro_libre                  121 non-null    float64
 10  cloruros                       27 non-null     str
 11  cobre                          374 non-null    str
 12  coliformes_termotolerantes     550 non-null    str
 13  coliformes_totales             550 non-null    str
 14  conductividad                  258 non-null    str
 15  cromo                          409 non-null    str
 16  dbo5                           617 non-null    str
 17  dqo                            611 non-null    str
 18  dureza_calcica                 24 non-null     str
 19  dureza_magnesica_pd            5 non-null      str
 20  dureza_total                   25 non-null     str
 21  fosforo_total                  257 non-null    float64
 22  hidróxidos                     67 non-null     str
 23  hierro                         383 non-null    float64
 24  magnesio                       13 non-null     str
 25  manganeso                      350 non-null    str
 26  mercurio                       34 non-null     str
 27  niquel                         388 non-null    str
 28  nitratos                       139 non-null    str
 29  nitritos                       130 non-null    str
 30  nitritos_nitratos              18 non-null     float64
 31  nitrogeno_amoniacal            33 non-null     str
 32  nitrogeno_ntk                  45 non-null     str
 33  nitrogeno_orgánico             34 non-null     float64
 34  ph                             593 non-null    float64
 35  plomo                          404 non-null    str
 36  potasio                        27 non-null     str
 37  sodio                          27 non-null     str
 38  solidos_sedimentables          79 non-null     str
 39  solidos_suspendidos            408 non-null    str
 40  solidos_totales                450 non-null    str
 41  solidos_totales_volátiles      20 non-null     str
 42  sulfatos                       93 non-null     str
 43  sulfuros                       6 non-null      float64
 44  sustancias_solubles_al_hexano  216 non-null    float64
 45  turbiedad                      19 non-null     str
 46  zinc                           374 non-null    str
 47  obs                            56 non-null     str
dtypes: float64(8), str(40)
memory usage: 240.1 KB

In [23]:
# Ajustes de base de datos
# 1. Convertir todo lo posible a numérico, ignorando errores (los vuelve NaN)
cols_a_limpiar = data.columns.drop(['fecha', 'referencia', 'obs'])
for col in cols_a_limpiar:
    data[col] = pd.to_numeric(data[col].astype(str).str.replace(',', '.').str.extract(r'(\d+\.?\d*)')[0], errors='coerce')

# 2. Eliminar columnas con más del 50% de nulos
umbral = len(data) * 0.5
data_fixed = data.copy().dropna(thresh=umbral, axis=1)

# 3. Imputar nulos restantes con la mediana (simple y robusto)
data_fixed = data_fixed.fillna(data.median(numeric_only=True))

data_fixed.head()

,fecha,referencia,cadmio,cobre,coliformes_termotolerantes,coliformes_totales,cromo,dbo5,dqo,hierro,manganeso,niquel,ph,plomo,solidos_suspendidos,solidos_totales,zinc
0,06/04/01,P1,0.5,1.00,3.0,3.0,2.0,0.68,11.81,1.883,0.05285,4.0,8.20,10.0,41.0,313.0,0.13530
1,06/04/01,P2,0.5,1.00,2.2,7.0,2.0,0.18,23.42,5.179,0.16410,4.0,8.36,10.0,185.0,453.0,0.09056
2,06/04/01,P3,0.5,1.00,7.0,1.7,2.0,0.48,19.68,6.043,0.20470,4.0,8.47,10.0,209.0,470.0,0.09999
3,06/04/01,P4,0.5,1.00,1.1,1.1,2.0,0.58,7.87,3.159,0.09761,4.0,8.34,10.0,74.0,350.0,0.09698
4,07/04/01,P1,0.5,2.89,1.3,1.3,2.0,0.35,7.75,1.093,0.03675,5.2,8.44,10.0,0.0,293.0,0.11720

In [24]:
data_fixed.info()

<class 'pandas.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fecha                       640 non-null    str
 1   referencia                  640 non-null    str
 2   cadmio                      640 non-null    float64
 3   cobre                       640 non-null    float64
 4   coliformes_termotolerantes  640 non-null    float64
 5   coliformes_totales          640 non-null    float64
 6   cromo                       640 non-null    float64
 7   dbo5                        640 non-null    float64
 8   dqo                         640 non-null    float64
 9   hierro                      640 non-null    float64
 10  manganeso                   640 non-null    float64
 11  niquel                      640 non-null    float64
 12  ph                          640 non-null    float64
 13  plomo                       640 non-null    float64
 14  solidos_suspendidos         640 non-null    float64
 15  solidos_totales             640 non-null    float64
 16  zinc                        640 non-null    float64
dtypes: float64(15), str(2)
memory usage: 85.1 KB